body {
  background: no-repeat center linear-gradient(to bottom right, #ffffff 0%, #0066cc 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.firstsection {

}

.profilepicture img {
  position: relative;
  width: 100%;
}

.intropage {
  position: relative;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  
}

.middleportion {
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 748px) {
  .intropage {
    width: 100%;
    
  }
}