body {
  background: no-repeat center linear-gradient(to bottom right, #ffffff 0%, #0066cc 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topportion {
   background: linear-gradient(to bottom, #ffff99 0%, #ccccff 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profilepicture img {
  position: relative;
  width: 100%;
}

.intropage {
  position: relative;
  text-align: center;
  width: 100%;
  }

.intropage h1 {
  font-family: 'Crimson Text', serif;
}
.intropage h6 {
  font-family: 'Crimson Text', serif;
}

.middleportion {
  position: relative;
  text-align: center;
}